@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: #fff;
  --color-primary: #E90175;
  --color-secondary: #717173;
}

@keyframes infinite-scroll {
  to {
    transform: translate(-100%);
  }
}


.animate-infinite-scroll {
  animation: 50s infinite linear infinite-scroll;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}