@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: #fff;
}

@keyframes infinite-scroll {
  to {
    transform: translate(-100%);
  }
}


.animate-infinite-scroll {
  animation: 50s infinite linear infinite-scroll;
}